flows/SFDC_4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>EmailChoice</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhoneChoice</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TextmessageChoice</name>
        <choiceText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Text 
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text </stringValue>
        </value>
    </choices>
    <choices>
        <name>TextmessageChoice1</name>
        <choiceText>Text</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>SFDC_4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFDC_4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>361</locationX>
        <locationY>439</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>HCL Technolgy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Questions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Comp.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name_Comp.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>Follow_up_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name_Comp.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CreatedById.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Comp.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_method__c</field>
            <value>
                <elementReference>Contact_Preference</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Screen_One</name>
        <label>Screen_One</label>
        <locationX>432</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Two</targetReference>
        </connector>
        <fields>
            <name>CallScript_One</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>TT_1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Name_Comp</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CallScript_Two</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>TT_2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone_Comp</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>999-999-999</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CallScript_three</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>TT_3</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email_Comp</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Two</name>
        <label>Screen_Two</label>
        <locationX>357</locationX>
        <locationY>323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>Display_Text_One</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Thank you again ! And would you prefer to be Contacted by Phone, Email, Text Message
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Preference</name>
            <choiceReferences>PhoneChoice</choiceReferences>
            <choiceReferences>EmailChoice</choiceReferences>
            <choiceReferences>TextmessageChoice1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Preference</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display_Text_Two</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Great! Thank you for Information what Question you have for our Specialist ?
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Questions</name>
            <fieldText>Questions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display_Text_Three</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Excellent! and when would be the best time to Follow up with you about this?
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Follow_up_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Follow_up_Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display_Text_Five</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Please Select our Specialist 
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreatedById</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Specialist </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Screen_One</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TT_1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you for calling SfdcIndia!  My Name is {!$User.FirstName}{!$User.LastName} may I know your Name Please?</text>
    </textTemplates>
    <textTemplates>
        <name>TT_2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Perfect! And what is Best Phone Number to reach out you ?</text>
    </textTemplates>
    <textTemplates>
        <name>TT_3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Perfect! And what is Best Phone Number to reach out you ?</text>
    </textTemplates>
</Flow>
